{{ header }}
<div id="information-information" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
        {% if loop.last %}
            <li><span class="last">{{ breadcrumb.text }}</span></li>
        {% else %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endif %}
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
        <h1>{{ heading_title }}</h1>
{#      {{ description }}#}
        <div class="helper"><i class="fas fa-info-circle icon-left"></i>{{ helper }}</div>
        
        {% if brand_categories %}
            <div class="alphabet-index">
                <strong>{{ index_title }}</strong> 
                {% for category in brand_categories %}
                &nbsp;&nbsp;&nbsp;<a href="{{ page_url }}#{{ category.name }}">{{ category.name }}</a> 
                {% endfor %} 
            </div>
        {% endif %} 
        
        <div class="brand-list__block">
        {% if brand_categories %}
            {#<p><strong>{{ index_title }}</strong> 
                {% for category in brand_categories %}
                &nbsp;&nbsp;&nbsp;<a href="index.php?route=search/index#{{ category.name }}">{{ category.name }}</a> 
                {% endfor %} 
            </p>#}
            {% for category in brand_categories %}
                <h2 id="{{ category.name }}">{{ category.name }}</h2>
                {% if category.manufacturer %}
{#                    {% for manufacturers in category.manufacturer|batch(4) %}#}
{#                    {% for manufacturers in category.manufacturer %}#}
                        <div class="brand-list__group"> 
                            {% for manufacturer in category.manufacturer %}
                                <a href="{{ manufacturer.href }}">{{ manufacturer.name }}</a>
                            {% endfor %} 
                        </div>
{#                    {% endfor %}#}
              {% endif %}
            {% endfor %}
        {% endif %}
            {#{% for brand in brands %}
                <a class="" href="#">{{ brand.name }}</a>
            {% endfor %}#}
        </div>
        
        {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>

{{ footer }}